/*layout*/
/*DateTime*/
#dateTimePicker option{
  display: none;
}
#dateTime {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#date {
  height: 50vh;
  width: 70vw;
  margin: 0;
}
#date > div:nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  padding: 5vw;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
#control {
  display: flex;
  flex-flow: column no-wrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}
#control svg {
  width: 3%;
}
#date > div:nth-child(2) > p {
  margin: 0;
  width: 10vw;
}
#info > div:first-child{
  box-sizing: border-box;
  padding-inline: 5px;
  width: 100%;
}
#info *{
  padding-block: 7px;
  margin: 0;
}
 .aDay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vw;
  border-radius: 50%;
}
#comds {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#comds > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#comds p{
  padding: 6px;
}
#time {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 70vw;
  padding: 5vw;
  margin-top: 20px;
}
#time > :not(div:last-child, div:nth-child(2)){
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  scroll-snap-type: y;
}
#time > div > p {
  z-index: 3;
  margin: 0;
  padding: 6px 3px;
  scroll-snap-align: center;
}
#time > :not(div:last-child){
  padding-block: 29px;
}
#time > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 70vw;
  padding: 5vw;
}
#overlay > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
}
#overlay > div > :not(p:nth-child(2)) {
  width: 29%;
  height: 100%;
  border-top: 3px solid var(--blacks);
  border-bottom: 3px solid var(--blacks);
}
#trans {
  z-index: 2;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
}
#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0;
}
#menu > svg {
  height: 30px;
}
#menu > p {
  padding-inline: 5vw;
  margin: 0;
}
#menuOptions {
  z-index: 3;
  position: fixed;
  top: 0;
  left: -70vw;
  height: 100vh;
  width: 70vw;
  transition: all 0.3s ease-in;
}
#menuOptions > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#attribution {
  display: flex;
  flex-direction: row;
  align-items: center;
  position:absolute;
  bottom: 10px;
  left: 5px;
  padding: 5vw;
}
#attribution a{
  text-decoration: none;
}
#attribution > a > svg{
  margin-block: 0;
  padding-block: 0;
  padding: 10px;
  width: 40px;
}

  /*Tasks*/
.desktop, .tablet {
  display: none;
}
#tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  padding-bottom: 40px;
}
.aTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 95vw;
  margin-block: 10px;
  border-radius: 2vw;
  padding-inline:5px;
}
.aTask > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.aTask > div > p {
  padding-inline: 2px;
  width: 85vw;
  overflow-x: hidden;
}
.aTask > svg {
  height: auto;
  width: 10%;
}
/*Filters*/
#filters {
  display: flex;
  justify-content: flex-end;
  width: 95vw;
}
#filter {
  padding: 2px;
  border-radius: 2vw;
  width: 15vw;
}
#extraFilters {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#extraFilters > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5vw;
  width: 85vw;
  align-items: center;
  box-shadow: 2px 2px 2px #555555;
}
#extraFilters *{
  display: unset;
}
#extraFilters > div > p{
  max-width: 30%;
  white-space: nowrap;
  padding: 5px;
  margin-inline: 2px;
}
#extraFilters > div > div:last-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 85vw;
}
#advanceFilters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 100%;
}
#advanceFilters legend {
  display: none;
}
#advanceFilters fieldset {
  border: none;
  border-radius: 2px;
}
#advanceFilters > div{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
#advanceFilters > div > p {
  width: 100%;
}
/*addTask*/
#addTask {
  position: fixed;
  bottom: 3px;
  left: 2.5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-between;
  width: 95vw;
}
#addTask > *{
  margin-block: 5px;
}
.addTask > input, .addTask > textarea{
  display: block;
  width: 100%;
}
.addtask select {
  width: 30%;
}
.addTaskExtras {
  display: none;
}
.excludeExtras > input:first-child {
  width: 70vw;
}
.excludeExtras > input:last-child {
  width: unset;
}
.excludeExtras > select, .excludeExtras > textarea {
  display: none;
}
.updateTask {
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-between;
  width: 95vw;
  padding: 10px;
}
.updateTask > input:first-child {
  width: 70vw;
}
.updateTask > textarea {
  width: 100%;
}
.updateTask > select {
  width: 30%;
}
.updateTask > select:nth-child(2)  > option {
  display: none;
}


/*Typography*/
nav {
  background-color: var(--primary-color)
}
#menu > p {
  color: var(--whites);
  font-size: 40px;
}
#menuOptions {
  color: var(--blacks);
  background-color: var(--whites);
}
#attribution {
  font-size: 16px;
}
#attribution img {
  width: 16px;
}
#attribution a{
  color: var(--secondary-color);
  font-weight: 600;
}
/*Tasks*/
.aTask {
  color: var(--whites);
  background-color: var(--tertiary-color);
}
.aTask > div > p {
  white-space: nowrap;
}
/*Filters*/
#filter {
  font-size: 5vw;
  text-align: center;
  background-color: var(--primary-color);
}
#extraFilters > div{
  color: var(--blacks);
  background-color: var(--whites);
}
.selected {
  background-color: var(--secondary-color);
}
#advanceFilters > div > p{
  color: var(--secondary-color);
}
/*addTask*/
#addTask {
  background-color: var(--whites);
}