:root{
  --whites: #fff;
  --blacks: #000;
  --light-gray: #efefef;
  --dark-gray: #555555;
  --primary-color: #2ecc71;
  --secondary-color: #3498db;
  --tertiary-color: #90ee90;
  --darkGreen: #008000;
  --lightBlue: #add8e6;
  --darkBlue: #2c3e50;
}
html{
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul:empty:before{
  content: "Nothing to display, add new task to get started.";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form > input:last-child:focus{
  outline: none;
}
form > input:first-child:focus, form > select:focus, form > textarea:focus{
  outline: 2px solid var(--secondary-color);
}

/* Layout */
#deleteModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#deleteBox {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: space-around;
 border-radius: 10px;
 padding: 5px;
 min-width: 250px;
}
#deleteBox > p {
  width: 100%;
}
#errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#errorPage > a {
  padding: 5px;
  border-radius: 5px;
}
.toggler {
  display: flex;
  align-items: center;
  height: 20px;
  width: 50px;
  border-radius: 10px;
}
.toggleButton{
  position: relative;
  top: 0;
  left: -5%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: left 0.3s ease-out
}
/*Typography*/

body {
  color: var(--blacks);
  background-color: var(--whites);
}
#dateTime {
  background-color: rgba(0, 0, 0, 0.5);
}
#dateTime > div{
  color: var(--blacks);
  background-color: var(--whites);
}
#info > div:first-child{
  color: var(--whites);
  background-color: var(--primary-color);
}
#dayMonth {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
}
#calendar {
  text-align: center;
}
.present{
  color: var(--primary-color);
}
.choosen {
  color: #000;
  background-color: var(--primary-color);
}
#time > div{
  font-size: 20px;
}
#overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5));
}
#comds {
  color: var(--primary-color);
  font-size: 15px;
}
#deleteBox {
  color: var(--whites);
  background-color: var(--blacks);
}
.pastDue {
  background-color: #e6bbad;
}
.completed {
  color: var(--dark-gray);
  background-color: var(--light-gray);
}
.hidden {
  display: none;
}

#errorPage {/* 
  color: var(--tertiary-color); */
  background-color: var(--whites);
}
#errorPage > h5 {
  color: var(--light-gray);
  font-size: 2em;
  font-weight: 800;
}
#errorPage > a {
  text-decoration: none;
  color: #000;
  background-color: var(--primary-color);
}
.toggler{
  background-color: var(--primary-color);
}
.toggleButton{
  background-color: var(--secondary-color);
}
.btnType1 {
  background-color: var(--light-gray);
}
.btnType2 {
  color: var(--tertiary-color)
}